*{
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #678e3e;
    --clr-primary-light: #beed8c;

    --clr-grey-1: #102a42;
    --clr-grey-5: #617d98;
    --clr-grey-10: #f1f5f8;

    --clr-white: #fff;

    --ff-primary: "Catamaran", sans-serif;
    --ff-secondary: "Grand Hotel", cursive;

    --letter-spacing: 3.5px;

    /* following font sizes are for different media queries */
    --h1-font-size1: 25px;
    --h2-font-size1: 30px;
    --p-font-size1: 14px;

    --a-font-size: 15px;

    --h1-font-size2: 35px;
    --h2-font-size2: 40px;
    --p-font-size2: 15px;
  }


/* !?part-1 started */
/* !part-1 started */
/* !part-1 started */
/* !part-1 started */

.part-1{
    text-align: center;

    overflow-x: hidden;
    /* why the above prop?
    when the load the webpage, only during initial 
    few seconds, the webpage was getting horizontal-scroll,
    to eliminate that, we used this property */
}


.set{
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('./tea-station/images/main-bcg.jpeg') scroll center/cover no-repeat;

    width: 100%;
    height: 100vh;
    position: relative;
}


.shd-be-centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.shd-be-centered h2{
    font-family: var(--ff-secondary);
    color: var(--clr-primary);
    letter-spacing: var(--letter-spacing);
    font-size: 35px;

    animation: b 4.5s 1;
}

.shd-be-centered h1{
    font-family: var(--ff-primary);
    color: white;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    font-size: 50px;
    line-height: 65px;
    margin-top: 25px;
    font-weight: bold;

    animation: c 4.5s 1;
}

.explore{
    text-decoration: none;
    display: block;
    background: var(--clr-primary);
    width: 140px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: var(--ff-primary);
    text-transform: uppercase;
    letter-spacing: 10px;
    color: white;
    font-weight: bolder;
    outline: solid var(--clr-primary) 2px;
    outline-offset: 3.5px;

    margin: 40px auto; /* 
    [why i used this? since, i converted anchor-tag to a block level element, upon using margin = auto, will align that at center] */

    transition: all 0.6s 0s;
    animation: d 5s 1;
}

.separator{
    width: 100%;
    height: 8px;
    background: linear-gradient(to left, var(--clr-primary), rgba(255, 217, 0, 0.75) , var(--clr-primary));
}

/* end of styling, now follows the animations & hover effects */





/* the following code blocks consists of 
all animations & transitions */


.explore:hover{
    background: var(--clr-primary-light);
    color: var(--clr-primary);
}


/* the following animation is for first text line */
@keyframes b{

    0%{
        transform: translateX(100vw);
        opacity: 0.15;
    }

    33%{
        transform: translateX(-20vw);
        opacity: 0.3;
    }

    66%{
        transform: translateX(15vw);
        opacity: 0.7;
    }

    100%{
        transform: translateX(0vw);
        opacity: 1;
    }

}


/* the following animation is for second text line */
@keyframes c{

    0%{
        transform: translateX(-100vw);
        opacity: 0.15;
    }

    33%{
        transform: translateX(20vw);
        opacity: 0.3;
    }

    66%{
        transform: translateX(-15vw);
        opacity: 0.7;
    }

    100%{
        transform: translateX(0vw);
        opacity: 1;
    }

}


/* the following animation is for explore */
@keyframes d{

    0%{
        transform: scale(0.7);
        opacity: 0.15;
    }

    50%{
        transform: scale(2);
        opacity: 0.3;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }

}

/* !part-1 ended */
/* !part-1 ended */
/* !part-1 ended */
/* !?part-1 ended */

/* !?part-3 started */
/* !part-3 started */
/* !part-3 started */
/* !part-3 started */

.part-3{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-container{
    border: 8px solid var(--clr-primary);

    overflow: hidden; 
    /* so that zoom effect won't cross it's border */
}

.img-container img{
    display: block;

    transition: all 0.5s 0s;
}

.remaining h1{
    color: var(--clr-primary);
    font-family: var(--ff-secondary);
    letter-spacing: var(--letter-spacing);
    text-transform: capitalize;
    font-size: 25px;
}

.remaining h2{
    color: var(--clr-grey-1);
    font-family: var(--ff-primary);
    letter-spacing: var(--letter-spacing);
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 30px;
}

.remaining p{
    color: var(--clr-grey-5);
    font-family: var(--ff-primary);
    font-size: 14px;
    font-weight: bold;
}

.remaining a{
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    background: var(--clr-primary);
    color: white;
    width: 142px;
    padding: 8px 12px;
    letter-spacing: var(--letter-spacing);
    font-size: 15px;
    font-weight: bolder;
    font-family: var(--ff-primary);

    transition: all 0.5s 0s;
}

/* styling is done */







/* transition start */
.img-container img:hover{
    transform: scale(1.25);
}

.remaining a:hover{
    background: var(--clr-primary-light);
    color: var(--clr-primary);
}
/* transition end */







/* now let's start media queries */
@media screen and (min-width:350px){

    .img-container{
        width: 80%;
        margin: 85px 30px;
        margin-bottom: 60px;

        max-width: 500px;
        /* [why this, since we filled the width with %, this will help in limiting it's width] */
    }


    .img-container img{
        width: 100%;  
        /*[why width is 100%, as % is relative 
        to parent & 100% will fill it's parent completely, here img's parent is img-container] */

        max-width: 500px;
        /*[why this, since we filled the width with %, this will help in limiting it's width] */
    }


    .remaining h1, .remaining h2, .remaining p, .remaining a{
        margin-left: 30px;
    }

    .remaining p{
        margin-top: 20px;
    }

    .remaining a{
        margin-top: 20px;
        margin-bottom: 90px;
    }

}

@media screen and (min-width:700px){

    .part-3{
        padding-top: 80px;
    }

    .img-container{
        margin: 0px 60px;
        margin-bottom: 60px;
    }

    .remaining h1, .remaining h2, .remaining p, .remaining a{
        margin-left: 60px;
    }

    .remaining h1{
        font-size: 35px;
    }

    .remaining h2{
        font-size: 40px;
    }

    .remaining p{
        font-size: 15px;
        margin-top: 20px;
    }

    .remaining a{
        margin-top: 20px;
        margin-bottom: 90px;
    }

}

@media screen and (min-width:1050px){

    .part-3{
        margin-bottom: 450px;
    }

    .img-container{
        float: left;
    }

    .remaining{
        position: absolute;
        left: 600px;
        top: 0px;  
    /* [top is adjusted while merging parts] */
        margin-left: 20px; 
    }

    .about-container{
        position: relative;
        margin-left: 4%;
    }

}


/* !part-3 ended */
/* !part-3 ended */
/* !part-3 ended */
/* !?part-3 ended */

/* !?part-7 started */
/* !part-7 started */
/* !part-7 started */
/* !part-7 started */

.part-7{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    clear: both;
}

.parent{
    width: 100%;
    height: 220px;
    background: rgb(34,34,34);

    position: relative;
}

.child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer i{
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 20px;

    transition: all 0.3s 0s;
}

.footer p{
    font-family: var(--ff-primary);
    color: white;
    text-transform: uppercase;
}

.footer span{
    color: var(--clr-primary);
}

/* styling is done */




/* transition starts */

.footer i:hover{
    color: var(--clr-primary);
}

/* transition ends */

/* !part-7 ended */
/* !part-7 ended */
/* !part-7 ended */
/* !?part-7 ended */
